<div class="header-image-container">
  <img src="assets/red_cars.jpg" />
</div>
<div class="breadcrumb-container shadow">
  <a href="/visitor-information" routerLink="/visitor-information">
    <div class="title-container breadcrumb-container-text d-inline-block">Spirit of the Fourth Events</div>
  </a>
  <div class="d-inline-block breadcrumb-container-text">
    <span class="ms-2 me-2">&gt;</span>
    Wheels of Freedom Motor Show
  </div>
</div>

<div class="container">
  <div class="row mt-5">
    <div class="col-12 col-lg-10 mx-auto">
      <p>
        Highlighting classic and vintage cars, the Wheels of Freedom Motor Show epitomizes America's love of beautiful
        cars and trucks. See cool cars, have a chance to interact with their owners and hear their stories. The motor
        show opens at 9:00AM and is organized and hosted by the Poway Cruisers.
      </p>
    </div>

    <div class="col-12 col-lg-10 mx-auto">
      <p class="closed-season-notice">
        Motor show registration is closed for the season.
      </p>
    </div>

    <div class="col-12 col-lg-10 mx-auto">
      <p>
        Highlights:
        <br />
        Award of Excellence Trophies
        <br />
        Best Decorated Car or Truck Trophy
        <br />
        Best of the Poway Cruisers Trophy (chosen by the entrants)
        <br />
        Best of Show Trophy
      </p>
    </div>
  </div>
</div>

<div class="container-fluid mt-5 gx-0">
  <div class="row gx-0">
    <div class="col-4">
      <img src="assets/cars_parkinglot.jpg" class="car-show-image" />
    </div>
    <div class="col-4">
      <img src="assets/car_2.jpg" class="car-show-image" />
    </div>
    <div class="col-4">
      <img src="assets/car_3.jpg" class="car-show-image" />
    </div>
  </div>
</div>
