<div class="header-image-container">
    <img src="assets/people_walking.jpg">
</div>
<!-- <p class="mt-4 ms-2">Check back in June for updates</p> -->
<div class="text-center">
    <a href="/assets/media_compressed.pdf" target="_blank">
        <div class="link-div mt-4 shadow mb-5">
            View the 2025 Program
        </div>
    </a>

    <div class="video-container mx-auto">
        <video width="100%" controls>
            <source src="assets/SpiritoftheFourth2025.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
    </div>
</div>