

<div class="p-3">
    <h1 class="header-message-container text-center mb-3 mt-3">Privacy Policy</h1>
    <p>
        Thank you for accessing the Spirit Of The Fourth Website (“Site”) operated by The Spirit Of The Fourth, Inc. We respect your privacy and want to protect your personal information. To learn more, please read this Privacy Policy.
        This Privacy Policy explains how we collect, and use your personal information. This Privacy Policy also explains the steps we have taken to secure your personal information. By visiting the Site directly or through another site, you accept the practices described in this Policy.
        This privacy policy applies to the Site. This privacy policy does not necessarily apply to any offline collection of your personal information. Please see below for details.
        We are not responsible for the content or privacy practices on any web site not operated by Spirit of the Fourth to which the Site links or that links to the Site.
    </p>
    <p><b>INFORMATION COLLECTION AND USE</b></p>
<p>
1. Information Collection.
We collect information from you in several different ways on this Site. One goal in collecting personal information from you is to provide an efficient, meaningful, and customized experience. For example, we can use your personal information to:
</p>
<ul>
    <li><p>help make the Site easier for you to use by not having to enter information more than once.</p></li>
    <li>help you quickly find information and services.</li>
    <li>help us create content that is most relevant to you.</li>
</ul>

<p>
<br/>(a) Cookies and Other Technology. Like many sites, the Site employs cookies and web beacons (also known as clear GIF technology or “action tags”) to speed your navigation of the Site, recognize you and your access privileges, and track your Site usage.
<br/>(i) Cookies are small pieces of information that are stored as text files by your Internet browser on your computer’s hard drive. Most Internet browsers are initially set to accept cookies. You can set your browser to refuse cookies from web sites or to remove cookies from your hard drive, but if you do, you will not be able to access or use portions of the Site. THE SITE’S COOKIES DO NOT AND CANNOT INFILTRATE A USER’S HARD DRIVE TO GATHER A USER’S CONFIDENTIAL INFORMATION. Our cookies are not “spyware.”
<br/>(ii) Web beacons assist in delivering cookies and help us determine whether a web page on the Site has been viewed and, if so, how many times.  
<br/>(b) Log Files. As is true of most web sites, the Site server automatically recognizes the Internet URL from which you access the Site. We may also log your Internet protocol (“IP”) address, Internet service provider, and date/time stamp for system administration, order verification, internal marketing, and system troubleshooting purposes. (An IP address may indicate the location of your computer on the Internet.)
</p>
<p>
2. Information Use and Disclosure.
<br/>(a) Internal Use. We use your personal information to process your inquiries and provide you with customer service. 
<br/>(b) Communications with You: We will use your personal information to communicate with you about the Site and your inquiry. 
</p>

<p><b>DATA SECURITY</b></p>
<p>
The Site incorporates physical, electronic, and administrative procedures to safeguard the confidentiality of your personal information. While we use industry-standard precautions to safeguard your personal information, we cannot guarantee complete security. 100% complete security does not presently exist anywhere online or offline.
</p>
<p><b>OPT OUT/CORRECTIONS</b></p>
<p>
Upon your request, we will (a) correct or update your personal information; and/or (b) stop sending emails to your email address. You can make these requests by emailing us.
Please do not email your credit-card number or other sensitive information.
</p>
</div>
