<div class="header-image-container">
  <img src="assets/watching_concert.jpg" />
</div>
<div class="breadcrumb-container shadow">
  <a href="/visitor-information" routerLink="/visitor-information">
    <div class="title-container d-inline-block breadcrumb-container-text">Spirit of the Fourth Events</div>
  </a>
  <div class="d-inline-block breadcrumb-container-text">
    <span class="ms-2 me-2">></span>
    Community Fair
  </div>
</div>
<h1 class="header-message-container text-center mt-5">Community Fair</h1>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-8 mx-auto">
      <p>The Spirit of the Fourth Community Fair is a fun and exciting family event in beautiful Webb Lake Park.</p>
    </div>
    <div class="col-12 col-lg-8 mx-auto">
      <p>
        The Community Fair offers a wide array of food and beverages, children's activities, nonprofit organizations,
        arts and crafts, and local businesses.
      </p>
    </div>
    <div class="col-12 col-lg-8 mx-auto">
      <p>
        Enjoy snow cones and other tasty treats while wandering through the Wheels of Freedom Motor Show with over 120
        classic cars on display.
      </p>
    </div>
    <div class="col-12 col-lg-8 mx-auto">
      <p>
        An assortment of delicious and tantalizing food will be available from our food vendors and food trucks, so come
        have a great lunch before getting in place for the Spirit of the Fourth Parade.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-8 mx-auto text-center">
      <img src="assets/community_fair_map_2026.png" class="img-fluid shadow mt-3 mb-4" />
    </div>
  </div>
</div>

<div class="container-fluid gx-0">
  <div class="row gx-0">
    <div class="col-6 col-md-3">
      <img src="assets/fair_1.jpg" class="community-image" />
    </div>
    <div class="col-6 col-md-3">
      <img src="assets/fair_2.jpg" class="community-image" />
    </div>
    <div class="col-6 col-md-3">
      <img src="assets/fair_3.jpg" class="community-image" />
    </div>
    <div class="col-6 col-md-3">
      <img src="assets/fair_4.jpg" class="community-image" />
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-lg-8 mx-auto text-center">
      <p class="mt-5">Interested in becoming a vendor?</p>
      <a class="link-btn" routerLink="/vendors">
        <div class="link-div mt-2 shadow mb-5">Learn More</div>
      </a>
    </div>
  </div>
</div>
