<div class="header-image-container">
    <img src="assets/balloons_sky.jpg">
</div>

<h1 class="page-header font-oswald text-center mt-5">Freedom Club</h1>
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-8 mx-auto">
            <p>Support San Diego's oldest and largest Independence Day celebration by joining the Freedom Club today.
                This patriotic event is organized year-round by an entirely all-volunteer, community supported nonprofit
                organization.</p>
        </div>
        <div class="col-12 col-lg-8 mx-auto">
            <p>Donations of $150.00 and over secure membership in our Freedom Club, with preferential parking and
                seating for the parade and fireworks, tickets to our VIP Reception on July 4th, as well as, invitations
                to any Freedom Club events.</p>
                <div class="text-center" id="paypal-donate-button-container-freedom-club"></div>
        </div>
    </div>
</div>