<div class="header-image-container">
  <img src="assets/fireworks_main.png" />
</div>
<div class="breadcrumb-container shadow">
  <a href="/visitor-information" routerLink="/visitor-information">
    <div class="title-container breadcrumb-container-text d-inline-block">Evening 4th of July Fireworks</div>
  </a>
  <div class="d-inline-block breadcrumb-container-text">
    <span class="ms-2 me-2">></span>
    Evening Events and Fireworks
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-12 col-lg-8 mx-auto">
      <p>
        The evening event opens at 6pm at the Athletic Field of Bernardo Heights Middle School with live entertainment
        followed by a world class fireworks display beginning at 9pm.
      </p>
    </div>
    <div class="col-12 col-lg-8 mx-auto">
      <p>
        Open seating is available on the grass, and blankets and lawn chairs are suggested. A donation of $10/person or
        $20/family is suggested at the entrance to support the Spirit of the Fourth evening show.
      </p>
    </div>
    <div class="col-12 col-lg-8 mx-auto">
      <p>
        Patriotic merchandise will be available for purchase, further supporting the evening event. Food and
        refreshments will be available for purchase.
      </p>
    </div>
    <div class="col-12 col-lg-8 mx-auto">
      <p>
        Free parking is available in the student lot off Avenida Venusto. As always, our Freedom Club members enjoy
        reserved seating and parking. Find out how to join
        <a routerLink="/freedom-club">here</a>
        .
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h1 class="header-message-container text-center mt-5 mb-4">Evening Concerts</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-xl-5">
      <!-- <a href="https://www.facebook.com/tinowantsagig" target="_blank"> -->
      <div class="event-container shadow" data-aos="fade-up">
        <img src="assets/em_cable.jpeg" class="event-image event-image-top" />
        <div class="event-banner shadow">Em Cable Band</div>
      </div>
      <!-- </a> -->
      <p class="mt-3">
        2026 San Diego Music Award nominee, EM Cable Band is back by popular demand. Em Cable Band blends rock, pop, and
        blues elements with punk rock energy inspired by artists such as Fleetwood Mac, Wet Leg, King Princess, and Foo
        Fighters. Driving rhythms, soulful guitars, and soaring harmonies are hallmarks of their unique and eclectic
        sound.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h1 class="header-message-container text-center mt-5 mb-4">RB Star Winners</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-xl-3 mb-4">
      <div class="event-container shadow" data-aos="fade-up">
        <img src="assets/valerie_monroe.jpg" class="event-image" />
        <div class="event-banner shadow">Valerie Monroe</div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-xl-3 mb-4">
      <div class="event-container shadow" data-aos="fade-up">
        <img src="assets/odeliah_yeung.jpg" class="event-image" />
        <div class="event-banner shadow">Odeliah Yeung</div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-xl-3 mb-4">
      <div class="event-container shadow" data-aos="fade-up">
        <img src="assets/marjan_sadoughi.jpg" class="event-image" />
        <div class="event-banner shadow">Marjan Sadoughi</div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-xl-3 mb-4">
      <div class="event-container shadow" data-aos="fade-up">
        <img src="assets/john_berg.jpg" class="event-image" />
        <div class="event-banner shadow">John Berg</div>
      </div>
    </div>
  </div>
</div>
