<div class="header-image-container">
  <img src="assets/kid_with_flags.jpg" />
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <p class="mt-4" data-aos="fade-up">
        The Spirit of the Fourth is an all volunteer, nonprofit organization that plans and orchestrates Rancho
        Bernardo's annual 4th of July celebration, as well as many other family oriented events throughout the year.
      </p>
      <p data-aos="fade-up">
        The Spirit of the Fourth committee comprises volunteers who work year-round to plan the Independenece Day
        celebration and other events in Rancho Bernardo. The are joined by many other volunteers devoted to making all
        the events enjoyable for everyone.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 justify-content-center">
      <div class="committee-container pt-3 pb-3 pt-md-4 pb-md-4 mt-4 mx-auto shadow" data-aos="fade-up">
        <div class="fw-bold">Officers:</div>
        <div>President - Dave Brooks</div>
        <div>1st Vice President - Myrna Estremera</div>
        <div>2nd Vice President - Lynn Ewing</div>
        <div>Secretary - Marla Cruz</div>
        <div>Treasurer - Eric Koch</div>
        <br />
        <div class="fw-bold">Board of Directors:</div>
        <div>George Cowman</div>
        <div>Resa Coopat</div>
        <br />
        <div class="fw-bold">Committees and Chairs:</div>
        <div>Children's Activities - Laura Barish</div>
        <div>Community Fair - Marla Cruz, Stephanie Tutunjian</div>
        <div>Evening Entertainment - Lynn Ewing</div>
        <div>Event Program - Resa Coopat</div>
        <div>Freedom Club - Dave Brooks, Resa Coopat</div>
        <div>Fundraising - Myrna Estremera</div>
        <div>Grants - Dave Brooks, Resa Coopat</div>
        <div>Information Booth - Marla Cruz, Hugh Rothman, Stephanie Tutunjian</div>
        <div>Motor Show - George Cowman</div>
        <div>Parade - Myrna Estremera, Briana Melvin</div>
        <div>Quilts of Valor - Kay Lettington</div>
        <div>RB Star - Lynn Ewing</div>
        <div>Veterans Memorial Service - Paul Atterbury, Paul Lebidine</div>
        <div>VIP Reception - Resa Coopat</div>
        <div>Volunteers - Joel Doss</div>
        <div>Wheels on Parade - Stephanie Wiesenfarth</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <p class="mt-5">
        Want to get involved? Learn more about ways to volunteer your time throughout the year or just for a day.
      </p>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12 text-center">
      <a class="link-btn" href="/volunteers">
        <div class="link-div shadow">Learn More</div>
      </a>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <div class="disclaimer-content">
        <b>
          For inquiries please email:
          <a href="mailto:dave.spiritofthefourth@gmail.com">dave.spiritofthefourth@gmail.com</a>
          or mail us at:
        </b>
        The Spirit of the Fourth, P.O. Box 270736, San Diego, CA 92198
      </div>
    </div>
  </div>
</div>
