<div class="header-image-container">
  <img src="assets/crowded_sidewalk.jpg" />
</div>
<div class="breadcrumb-container shadow">
  <div class="title-container">Spirit of the Fourth Events</div>
</div>

<div class="container text-center mt-5">
  <div class="row me-lg-5 ms-lg-5 me-0 ms-0">
    <div class="col-12 col-md-5 my-auto">
      <p class="fw-bold header-message-container oswald-font" data-aos="fade-up">Fun for the whole family!</p>
    </div>
    <div class="col-12 col-md-7">
      <p data-aos="fade-up">
        The Spirit of the Fourth has excitement for all ages. Join us for our Community Fair featuring a wide variety of
        vendors, Wheels of Freedom Motor Show, Veterans Memorial Service, and our annual parade and evening celebration,
        that includes a spectacular fireworks show.
      </p>
    </div>
  </div>
</div>
<div class="container-fluid gx-0">
  <div class="row gx-0">
    <div class="col-12 col-md-6 col-xl-3">
      <a
        href="/visitor-information/community-fair-and-parade"
        routerLink="/visitor-information/community-fair-and-parade"
      >
        <div class="event-container" data-aos="fade-up">
          <img src="assets/watching_concert.jpg" class="event-image" />
          <div class="event-banner shadow">Community Fair</div>
        </div>
      </a>
    </div>
    <div class="col-12 col-md-6 col-xl-3">
      <a href="/visitor-information/wheels-of-freedom" routerLink="/visitor-information/wheels-of-freedom">
        <div class="event-container" data-aos="fade-up">
          <img src="assets/cars_parkinglot.jpg" class="event-image" />
          <div class="event-banner shadow">Wheels of Freedom Motor Show</div>
        </div>
      </a>
    </div>
    <div class="col-12 col-md-6 col-xl-3">
      <a href="/visitor-information/parade" routerLink="/visitor-information/parade">
        <div class="event-container" data-aos="fade-up">
          <img src="assets/military_march.jpg" class="event-image" />
          <div class="event-banner shadow">4th of July Parade</div>
        </div>
      </a>
    </div>
    <div class="col-12 col-md-6 col-xl-3">
      <a href="/visitor-information/evening-entertainment" routerLink="/visitor-information/evening-entertainment">
        <div class="event-container" data-aos="fade-up">
          <img src="assets/fireworks_sky.jpg" class="event-image" />
          <div class="event-banner shadow">Evening Entertainment</div>
        </div>
      </a>
    </div>
  </div>
  <div class="row mt-5 mb-5">
    <div class="col-12 col-lg-6 text-center mx-auto">
      <img src="/assets/visitor_map.jpg" class="map-image shadow" data-aos="fade-up" />
      <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d42797.90866219494!2d-117.09863161732193!3d33.02531891759292!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dbf0d2f0915c6f%3A0xa871a185268f6d1b!2sWebb%20Lake!5e0!3m2!1sen!2sus!4v1679763664982!5m2!1sen!2sus" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
    </div>
  </div>
</div>
