
.parade-map-2{
    width: 100%;
    height: auto;
    object-fit: contain;
}
.modal_parade_map{
    width: 100%;
    height: auto;
    object-fit: contain;
}
.invitation-only-container{
    font-size: .8rem;
}

.link-div{
  
    width: 350px;
}
@media (max-width: 1199.98px) {

}

@media (max-width: 991.98px) {
    .link-div{
    width: 100%;
}
}

@media (max-width: 767.98px) {

}

@media (max-width: 575.98px) {
  
    
 
}