<div class="container gx-0">
  <div class="row gx-0">
    <div class="col-12 justify-center text-center mt-5">
      <img src="assets/logo_250.png" class="logo-image" data-aos="fade-up" />
    </div>
  </div>

  <div class="row">
    <h1 class="headline oswald-font mt-5">
      {{ yearCounter }}{{ getOrdinal(yearCounter) }} Annual Fair, Parade, Concert, Fireworks | Rancho Bernardo,
      California
    </h1>
    <h1 class="headline oswald-font">July 4th, {{ currentYear }} | Starting 9AM</h1>
    <h1 class="headline oswald-font theme-container mt-2 text-center">Spirit of the Fourth Celebrates CommUNITY</h1>
  </div>
  <div class="row gx-0">
    <div class="col-12 justify-center text-center mt-5">
      <img src="assets/flag_over_crowd.png" class="holding-flag-image" />
    </div>
  </div>
  <div class="row gx-0">
    <div class="col-12 justify-center text-center mt-3" data-aos="fade-up">
      <p class="header-text oswald-font px-1">
        Rancho Bernardo's premiere 4th of July celebration with fun for the entire family!
        <br />
        Events occur throughout the day in Webb Park and the evening fireworks celebration takes place at Rancho
        Bernardo High School.
        <br />
        Come join the fun, volunteer your time to make the celebrations great, or support through donations.
      </p>
    </div>
  </div>

  <div class="row gx-0">
    <div class="col-12 justify-center text-center mt-4">
      <div class="row justify-content-center gx-0">
        <div class="schedule-container shadow" data-aos="fade-up">
          <h1 class="oswald-font mt-4">4th of July Event calendar</h1>
          <div class="row gx-0">
            <div class="col-7 col-lg-8">
              <div class="event-container">
                <div class="event-location">Webb Park Events</div>
                <div class="event-time">9:00am - 12:30pm</div>
                <div class="event-time">9:00am - 9:30am</div>
                <div class="event-description">
                  - Spirit of the Fourth President
                  <br />
                  Dave Brooks will officially start
                  <br />
                  the day at the Webb Park stage.
                </div>
                <!-- <div class="event-time">9:30am - 10:30am</div>
                <div class="event-description">
                  - The Larry Himmel Memorial
                  <br />
                  Patriotic Pet Contest, Hosted by
                  <br />
                  the RB Community Council.
                </div> -->
                <div class="event-time">10:45am - 11:30am</div>
                <div class="event-description">- Veterans Memorial Service</div>
              </div>
              <div class="event-container">
                <div class="event-location">Ongoing Entertainment</div>
                <div class="event-description">- Arts and Crafts</div>
                <div class="event-description">- Children's activities</div>
                <div class="event-description">- Community Organization booths</div>
                <div class="event-description">- Food Booths</div>
                <div class="event-description">- Food Trucks</div>
                <div class="event-description">- Stage Entertainment</div>
                <div class="event-description">- Quilts of Valor Display</div>
                <div class="event-description">- Wheels of Freedom Motor Show</div>
              </div>
            </div>
            <div class="col-5 col-lg-4">
              <div class="event-container">
                <div class="event-location">VIP Reception (The Shop Restaurant- By invitation only)</div>
                <div class="event-time">1:30 - 3:00pm</div>
              </div>
              <div class="event-container">
                <div class="event-location">The Parade</div>
                <div class="event-time">3:30 - 5:00pm</div>
                <div class="event-description">Parade route</div>
              </div>
              <div class="event-container">
                <div class="event-location">Evening Entertainment</div>
                <div class="event-time">6:00 - 6:30pm</div>
                <div class="event-description">RB Star Winners</div>
                <!-- <div class="event-description">Myekah Beond</div>
                <div class="event-description">Rohini Thatte</div> -->
                <div class="event-time">6:30 - 7:30pm</div>
                <div class="event-description">EM Cable Band</div>
                <div class="event-time">7:30 - 8:00pm</div>
                <div class="event-description">RB Star Winners</div>
                <!-- <div class="event-description">Amalea Ribeiro</div>
                <div class="event-description">Kat Kendria</div>
                <div class="event-description">Margo Sky</div> -->
                <div class="event-time">8:00 - 9:00pm</div>
                <div class="event-description">EM Cable Band</div>
                <div class="event-time">9:00pm</div>
                <div class="event-description">Fireworks Show</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
